:root {
  --color-primary: #ce0f45;
  --color-border: #b28451;
  --border: 3px solid var(--color-border); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 4rem; }

.my-component-class {
  border: 6px solid #b28451;
  background: transparent; }
  @media only screen and (max-width: 37.5rem) {
    .my-component-class {
      border: var(--border);
      background: var(--color-primary); } }
